*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
    border: none;
}
body{
    height: 100vh;
    background: linear-gradient(90deg,rgb(140, 0, 255) 100%,rgb(166, 10, 172) 35%,rgb(70, 1, 83) 0%);
}
#logo{
    height: 300px;
}
#main-login{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    max-width: 700px;
    width: 100%;
    box-shadow: 8px 8px 20px 5px magenta;
    padding: 16px;
    border-radius: 5px

}
#main-cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    max-width: 700px;
    width: 100%;
    box-shadow: 8px 8px 20px 5px magenta;
    padding: 16px;
    border-radius: 5px

}
#login{
    position: relative;
    top: 125px;
    right: 185px;
    color: whitesmoke;
}
#cadastro{
    position: relative;
    top: 300px;
    right: -700px;
    color: black;
    
}
.toastify{
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 32px;
    background-color: red;
    width: 100%;
    max-width: 300px;
    justify-content: center;
    position: fixed;
    top: -100px;
    animation: toastAnimation 5s ease;
}
.error{
    background-color: magenta;
}
.toastify p{
    font-size: 12px;
    color: white;
}
main form button:disabled{
    background-color: #242222;
    transform: scale(1);
}
label{
    font-weight: 600;
    color: black;
}
input{
    height: 32px;
    padding-left: 8px;
    outline: none;
    border-radius: 8px;
    border: none;
    background-color: rgba(211, 23, 218, 0.5);
    color: #242222;
}
main form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 50px;
}
main form button{
    padding: 6px 12px;
    border-radius: 16px;
    color: palevioletred;
    font-weight: 600;
    background-color: pink;
}
main form button:hover{
    background-color: black;
    transform: scale(1.15);
    transition: all 0.5s ease;
}
#menu{
    background-color: grey;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-size: large;
}
#menu a{
    text-decoration:none;
    color: white;
}
h1{
    color: magenta;
}
